<div *ngIf="isLoading && !isPassed; else timerTemplate" class="spinner"></div>
<ng-template #timerTemplate>
  <div class="wrapper">
    <div *ngIf="isPassed; else remainingTimeTemp" class="event-title">
      <h1>Event has passed</h1>
    </div>
    <ng-template #remainingTimeTemp>
      <ng-container *ngIf="countDown$ | async as countDown">
        <div class="event-title" appFitText [group]="'titleGroup'">
          Time to {{ countDown.eventName }}
        </div>
      </ng-container>
      <div [group]="'timerGroup'" appFitText>
        {{ remainingTime.days }} days,
        {{ remainingTime.hours }} h,
        {{ remainingTime.minutes }} m,
        {{ remainingTime.seconds }} s
      </div>
    </ng-template>
    <div class="pb-1">
      <button class="flat-button" (click)="clearCountdown()">Reset</button>
    </div>
  </div>
</ng-template>
